<h3>Advanced Search Filter</h3>
<div class="card" style="margin-bottom: 30px;">
    <form [formGroup]="approveTrainingSearchForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
            <div class="form-group d-flex gap-3">
                <div class="col-md-2">
                    <label>Employee</label>
                    <input type="text" class="form-control" name="employee" formControlName="employee">
                </div>
                <div class="col-md-2">
                    <label>Skill</label>
                    <p-dropdown [options]="skillList" formControlName="skill" optionLabel="Name"
                     [filter]="true" filterBy="Name" [showClear]="true" placeholder="Select Skill" [style]="{'width':'100%'}">
                    </p-dropdown>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <div>
                        <button class="btn btn-secondary mr-2" (click)="resetSearchForm()">Reset</button>&nbsp;
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Approve Training Listing -->
<h3>Approve Training List</h3>
<p-card [style]="{marginTop: '50px'}">
    <div class="content-list-form">
        <p-table styleClass="p-datatable-sm" [resizableColumns]="true"  [value]="trainingList" [paginator]="true" [rows]="rows"
             [rowsPerPageOptions]="appConstant.PAGE_SIZE_NO">
            <ng-template pTemplate="header">
                <tr>
                    <th>Employee</th>
                    <th>Plan</th>
                    <th>Skill</th>
                    <th>Module</th>
                    <th>Topic</th>
                    <th>Sub Topic</th>
                    <th>Start Datetime</th>
                    <th>End Datetime</th>
                    <th>Trainer</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-training>
                <tr>
                    <td [pTooltip]="training.Employee">{{training.Employee}}</td>
                    <td [pTooltip]="training.Plan">{{training.Plan}}</td>
                    <td [pTooltip]="training.SkillName">{{training.SkillName}}</td>
                    <td [pTooltip]="training.TrainingModuleName">{{training.TrainingModuleName}}</td>
                    <td>
                        <p class="subtopic">
                            <a href="javascript:void(0)" [pTooltip]="training.ModuleTopicName" tooltipPosition="top">
                                {{training.ModuleTopicName }}
                            </a>
                        </p>
                    </td>
                    <td>
                        <p class="subtopic">
                            <a href="javascript:void(0)" [pTooltip]="training.ModuleSubTopicName" tooltipPosition="top">
                                {{training.ModuleSubTopicName }}
                            </a>
                        </p>
                    </td>
                    <td>{{training.StartDatetime | date: 'dd/MM/yyyy'}}</td>
                    <td>{{training.EndDatetime | date: 'dd/MM/yyyy'}}</td>
                    <td>{{training.Trainer}}</td>
                    <td>
                        <p-button class="action-button" icon="pi pi-check" (onClick)="approve(training)"></p-button>
                        <p-button class="action-button" icon="pi pi-times" (onClick)="approve(training)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>