<h2>Need For Training</h2>
<p-card>
    <div class="plan-form">
        <form [formGroup]="applyTrainerForm" (ngSubmit)="submit()">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Objective *</label>
                <div class="col-sm-8">
                    <input class="form-control" formControlName="objective" type="text" name="objective"
                    id="">
                    <div *ngIf="f.objective.errors && f.objective.touched" class="invalid-control">
                        <p class="text-danger">Objective is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Expectation *</label>
                <div class="col-sm-8 col-form-label">
                    <input class="form-control" formControlName="expectation" type="text" name="expectation"
                    id="">
                    <div *ngIf="f.expectation.errors && f.expectation.touched" class="invalid-control">
                        <p class="text-danger">Expectation is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Project</label>
                <div class="col-sm-8 col-form-label">
                    <p-dropdown styleClass="form-control" formControlName="project" placeholder="Select Project" [options]="skillsList"
                    optionValue="Id" optionLabel="Name" [showClear]="true"></p-dropdown>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Comments</label>
                <div class="col-sm-8 col-form-label">
                    <textarea type="text" name="comments" class="form-control" id=""></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <button type="submit" [disabled]="applyTrainerForm.invalid" class="btn bt-sm btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</p-card>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>